html, body{
    height:100%;
    color: #a9b7c6;
    background:#323232;
    font-family: 'Open Sans', sans-serif;
}
#topbar{
    background:#008184;
    height: 40px;
}
#sidebar{
    background:#0ca1a6;
    height: calc(100% - 40px);
    float:left;
    width:200px;
    display:none;
}
#editor-box{
    height: calc(100% - 40px);
    float: left;
    width:calc(100% - 200px);
    display:none;
}
#welcome{
    height: calc(100% - 40px);
    overflow: auto;
}
#editor {
    width: 100%;
    height: 100%;
}
#filename {
    line-height: 40px;
    color: #ffffff;
}
.topbar-btn{
    color: #fff;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    line-height: 40px;
    margin: 0 -2px;
}
.topbar-btn:hover{
    background: #0CA1A6;
}
#notifier{
    width: 400px;
    color: #FFF;
    position: fixed;
    top: 20px;
    left: calc(50% - 200px);
    background: rgba(20,20,20,0.9);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    display:none;
    z-index: 1000;
}
.good {
    background: rgba(20,150,20,0.9) !important;
}
.bad {
    background: rgba(150,20,20,0.9) !important;
}
#file-breakout{
    height: calc(100% - 60px);
    margin: 10px;
    overflow: auto;
}
#file-breakout ul{
    list-style-type:none;
    padding: 0;
}
#file-breakout li{
    padding: 0 8px;
    background-color: #0CA1A6;
    cursor: pointer;
    font-size: 13px;
    color: #fff;
}
#file-breakout li:hover,#file-breakout .file-selected{
    background: #008184;
}
#allfilesbutton,#file-breakout .file-selected{
    font-weight: 600;
}
#sidebar-toolbar{
    background: #394242;
    text-align: center;
}
#sidebar-toolbar .topbar-btn:hover{
    background: #2d3434;
}
hr {
    border-top: 1px solid #CACACA;
}
.font-orange{
    color: #CC7833;
}
.font-grey{
    font-style: italic;
    color: #808080;
}
.font-blue{
    color: #6C99BB;
}
.font-yellow{
    color: #ffc66d;
}
.font-green{
    color: #6a8759;
}
.oshlab{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    padding: 0 20px 10px;
    box-sizing: border-box;
}
.oshlab img{
    max-width:100%;
}
.oshlab p {
    margin: 0;
    font-size: 12px;
    color: #fff;
    text-align: center;
    font-weight: 200;
}